.Chat-main
  .Chat-main__group-info
    .Chat-main__group-info__left
      .Chat-main__group-info__left__top 
        test
      .Chat-main__group-info__left__bottom
        Member: masa
    .Chat-main__group-info__right
      =link_to "#", class:"edit" do
        Edit

  .Chat-main__message-list
    .Chat-main__message-list__block
      .Chat-main__message-list__block__top
        %p.title masa
        %p.date 
          2020/05/12(Wed) 17:43:01
      .Chat-main__message-list__block__center
        %p おはよう！
      .Chat-main__message-list__block__top
        %p.title masa
        %p.date 
          2020/05/12(Wed) 17:43:01
      .Chat-main__message-list__block__center
        %p こんにちは！
      .Chat-main__message-list__block__top
        %p.title masa
        %p.date 
          2020/05/12(Wed) 17:43:01
      .Chat-main__message-list__block__center
        %p こんばんは！
  .Chat-main__message-form
    .Chat-main__message-form__left
      .Chat-main__message-form__left__one
        %input{type: "text",class:"text-box",placeholder:"type a message"}
      .Chat-main__message-form__left__two
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file"}
    .Chat-main__message-form__right
      %input{type: "submit",class:"send",value:"Send"}

