.Side-bar 
  .Side-bar__user-name 
    .Side-bar__user-name__top
      .Side-bar__user-name__top__left
        %p masa
      .Side-bar__user-name__top__right
        .Side-bar__user-name__top__right__box
          = link_to "#", class: "far fa-edit" do
            = icon('far', 'fa-edit')
          = link_to "#", class: "fas fa-cog" do
            = icon('fas', 'fa-cog') 
            

  .Side-bar__group-list
    .Side-bar__group-list__top
      techcamp
    .Side-bar__group-list__center
      まだメッセージはありません

